<div>
  <div class="clr-row clr-align-items-center">

    <div class="clr-col-lg-8 clr-col-md-12 clr-col-sm-12 resize">

      <div class="clr-col-lg-3 clr-col-md-6 clr-col-sm-12">
        <div class="clr-row">
          <div class="clr-col-lg-10 clr-col-12">
            <a href="..." class="card clickable">
              <div class="card-img">
              </div>
              <div class="card-block" style="display: flex;">

                <div class="clr-col">
                  <div class="clr-row" style="color: rgb(140, 149, 170) ; font-weight: bold;">Cases Today</div>
                  <div class="clr-row" style="color: #36373F; font-weight: bold;">
                    {{allInformation.todayCases | number:'':''}}</div>
                </div>

                <div class="clr-col">
                  <img src="../assets/calendar.png" style="width: 2rem; height: 2rem;" />
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="clr-col-lg-3 clr-col-md-6 clr-col-sm-12">
        <div class="clr-row">
          <div class="clr-col-lg-10 clr-col-12">
            <a href="..." class="card clickable">
              <div class="card-img">
              </div>
              <div class="card-block" style="display: flex;">

                <div class="clr-col">
                  <div class="clr-row" style="color: #C1C5CF; font-weight: bold;">Recovered</div>
                  <div class="clr-row" style="color: #36373F; font-weight: bold;">
                    {{allInformation.recovered | number:'':''}}</div>
                </div>

                <div class="clr-col">
                  <img src="../assets/recovered.png" style="width: 2rem; height: 2rem;" />
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="clr-col-lg-3 clr-col-md-6 clr-col-sm-12">
        <div class="clr-row">
          <div class="clr-col-lg-10 clr-col-12">
            <a href="..." class="card clickable">
              <div class="card-img">
              </div>
              <div class="card-block" style="display: flex;">

                <div class="clr-col">
                  <div class="clr-row" style="color: #C1C5CF; font-weight: bold;">Active Cases</div>
                  <div class="clr-row" style="color: #36373F; font-weight: bold;">
                    {{allInformation.active | number:'':''}}</div>
                </div>

                <div class="clr-col">
                  <img src="../assets/on.png" style="width: 2rem; height: 2rem;" />
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="clr-col-lg-3 clr-col-md-6 clr-col-sm-12">
        <div class="clr-row">
          <div class="clr-col-lg-10 clr-col-12">
            <a href="..." class="card clickable">
              <div class="card-img">
              </div>
              <div class="card-block" style="display: flex;">

                <div class="clr-col">
                  <div class="clr-row" style="color: #C1C5CF; font-weight: bold;">Death Today</div>
                  <div class="clr-row" style="color: #36373F; font-weight: bold;">
                    {{allInformation.deaths | number:'':''}}</div>
                </div>

                <div class="clr-col">
                  <img src="../assets/death.png" style="width: 2rem; height: 2rem;" />
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

    </div>

    <div class="clr-col-lg-4 clr-col-md-12 clr-col-sm-12" style="display: flex;">

      <div class="clr-col-12">
        <div class="clr-row">
          <div class="clr-col-lg-10 clr-col-12">
            <a href="..." class="card clickable">

              <div class="card-block" style="height: 10rem;">

                <div class="clr-row">
                  <h3 style="color: #36373F; font-weight: bold;">Ratio of recovery</h3>
                </div>

                <div class="clr-row">
                  <img src="../assets/connected.png" style="width: 7rem; height: 5rem;" />

                </div>

                <div class="clr-row">
                  <div class="clr-col">
                    <div class="clr-row" style="color: #36373F; font-weight: bold;">
                      {{allInformation.cases | number:'':''}} Affected
                    </div>
                  </div>

                  <div class="clr-col">
                    <div class="clr-row" style="color: #36373F; font-weight: bold;">
                      {{allInformation.recovered | number:'':''}}
                      Recovered
                    </div>

                  </div>
                </div>

              </div>
            </a>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="clr-row clr-align-items-center">
    <div class="clr-col-lg-6 clr-col-md-12 clr-col-sm-12 rearrange">
      <div class="clr-row">
        <div class="clr-col-8" style="font-weight: bold; padding-left: 50px;">
          COVID - 19 Affected Areas
        </div>
        <div class="clr-col-2" style="color: #C1C5CF; font-weight: bold;">
          Most Affected
        </div>
        <div class="clr-col-2" style="color: #C1C5CF; font-weight: bold;">
          Less Affected
        </div>
      </div>

      <div class="clr-row">
        <p>Map of the world</p>
      </div>
    </div>

    <div class="clr-col-lg-6 clr-col-md-12 clr-col-sm-12 resize" style="margin-top: 4.5rem; flex-direction: row;">

      <div class="clr-col-lg-6 clr-col-md-12 clr-col-sm-12">
        <div class="clr-row">
          <div class="clr-col-12" style="font-weight: bold;">
            Top Countries
          </div>
        </div>

        <div class="clr-row" style="justify-content: flex-start;"
          *ngFor="let country of allCountries | slice:0:3; let i=index">

          <div class="clr-col-12">
            <a href="..." class="card clickable">
              <div class="card-img">
              </div>
              <div class="card-block" style="display: flex;">

                <div class="clr-col" style="text-align: left;">
                  <div class="clr-row" style="color: #C1C5CF; font-weight: bold; justify-content: left;">
                    {{country.country}}</div>
                  <div class="clr-row" style="color: #36373F; font-weight: bold; justify-content: left;">
                    {{country.cases | number:'':''}} - Affected </div>
                  <div class="clr-row" style="color: #36373F; font-weight: bold; justify-content: left;">
                    {{country.recovered | number:'':''}} - Recovered
                  </div>
                </div>

                <div class="clr-col">
                  <img src="https://img.icons8.com/nolan/64/bullish.png" />
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="clr-col-lg-6 clr-col-md-12 clr-col-sm-12">
        <div class="clr-col-11">

          <div class="clr-row">
            <div class="clr-col-12" style="font-weight: bold;">
              Live Reports
            </div>
          </div>

          <clr-datagrid>
            <clr-dg-column>Flag</clr-dg-column>
            <clr-dg-column>Country</clr-dg-column>
            <clr-dg-column>Case</clr-dg-column>
            <clr-dg-column>Critical</clr-dg-column>

            <clr-dg-row *clrDgItems="let country of allCountries">
              <clr-dg-cell><img src="{{country.countryInfo.flag}}" alt="{{country.country}}"
                  style="width: 1rem; height: 1rem;"></clr-dg-cell>
              <clr-dg-cell>{{country.country}}</clr-dg-cell>
              <clr-dg-cell>{{country.cases}}</clr-dg-cell>
              <clr-dg-cell>{{country.critical}}</clr-dg-cell>
            </clr-dg-row>

            <!-- <clr-dg-footer>{{country.length}} countries</clr-dg-footer> -->
            <clr-dg-footer>
              <clr-dg-pagination #pagination [clrDgPageSize]="8">
                <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Countries per page</clr-dg-page-size>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                of {{pagination.totalItems}} countries
              </clr-dg-pagination>
            </clr-dg-footer>
          </clr-datagrid>
        </div>
      </div>

    </div>

  </div>

  <div class="clr-row" style="margin: 1rem;">
    <div class="clr-row">

      <div class="clr-col">
        <img src="../assets/medicine.png" style="width: 15rem; height: 10rem;" />
      </div>
      <div class="clr-col">
        <div class="clr-row"><button class="btn btn-primary">News & Update</button></div>
        <div class="clr-row">
          <h4 style="bold">5 Symptoms of Corona Virus that you should know</h4>
        </div>
        <div class="clr-row"><button class="btn btn-link">Read More <clr-icon shape="arrow"></clr-icon></button></div>
      </div>

    </div>
    <div class="clr-row">

      <div class="clr-col">
        <img src="../assets/gift.png" style="width: 15rem; height: 10rem;" />
      </div>
      <div class="clr-col">
        <div class="clr-row"><button class="btn btn-primary">Donate</button></div>
        <div class="clr-row">
          <h4 style="bold">Donate to 3rd world countries which are suffering</h4>
        </div>
        <div class="clr-row"><button class="btn btn-link">Donate Now <clr-icon shape="arrow"></clr-icon></button></div>
      </div>

    </div>
  </div>

</div>
