<div>
  <div class="clr-row clr-align-items-center">

    <div class="clr-col-8" style="display: flex;">

      <div class="clr-col-3">
        <div class="clr-row">
          <div class="clr-col-lg-10 clr-col-12">
            <a href="..." class="card clickable">
              <div class="card-img">
              </div>
              <div class="card-block" style="display: flex;">

                <div class="clr-col">
                  <div class="clr-row" style="color: rgb(140, 149, 170) ; font-weight: bold;">Today's Cases</div>
                  <div class="clr-row" style="color: #36373F; font-weight: bold;">{{allInformation.todayCases}}</div>
                </div>

                <div class="clr-col">
                  <img src="https://img.icons8.com/nolan/64/bullish.png" />
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="clr-col-3">
        <div class="clr-row">
          <div class="clr-col-lg-10 clr-col-12">
            <a href="..." class="card clickable">
              <div class="card-img">
              </div>
              <div class="card-block" style="display: flex;">

                <div class="clr-col">
                  <div class="clr-row" style="color: #C1C5CF; font-weight: bold;">Recovered</div>
                  <div class="clr-row" style="color: #36373F; font-weight: bold;">{{allInformation.recovered}}</div>
                </div>

                <div class="clr-col">
                  <img src="https://img.icons8.com/nolan/64/bullish.png" />
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="clr-col-3">
        <div class="clr-row">
          <div class="clr-col-lg-10 clr-col-12">
            <a href="..." class="card clickable">
              <div class="card-img">
              </div>
              <div class="card-block" style="display: flex;">

                <div class="clr-col">
                  <div class="clr-row" style="color: #C1C5CF; font-weight: bold;">Active Cases</div>
                  <div class="clr-row" style="color: #36373F; font-weight: bold;">{{allInformation.active}}</div>
                </div>

                <div class="clr-col">
                  <img src="https://img.icons8.com/nolan/64/bullish.png" />
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="clr-col-3">
        <div class="clr-row">
          <div class="clr-col-lg-10 clr-col-12">
            <a href="..." class="card clickable">
              <div class="card-img">
              </div>
              <div class="card-block" style="display: flex;">

                <div class="clr-col">
                  <div class="clr-row" style="color: #C1C5CF; font-weight: bold;">Today's Death</div>
                  <div class="clr-row" style="color: #36373F; font-weight: bold;">{{allInformation.deaths}}</div>
                </div>

                <div class="clr-col">
                  <img src="https://img.icons8.com/nolan/64/bullish.png" />
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

    </div>

    <div class="clr-col-4" style="display: flex;">

      <div class="clr-col-12">
        <div class="clr-row">
          <div class="clr-col-lg-10 clr-col-12">
            <a href="..." class="card clickable">

              <div class="card-block">

                <div class="clr-row">
                  <h3 style="color: #36373F; font-weight: bold;">Ratio of recovery</h3>
                </div>

                <div class="clr-row">
                  <img src="https://img.icons8.com/nolan/64/bullish.png" />
                </div>

                <div class="clr-row">
                  <div class="clr-col">
                    <div class="clr-row" style="color: #36373F; font-weight: bold;">{{allInformation.cases}} Affected
                    </div>
                  </div>

                  <div class="clr-col">
                    <div class="clr-row" style="color: #36373F; font-weight: bold;">{{allInformation.recovered}}
                      Recovered
                    </div>

                  </div>
                </div>

              </div>
            </a>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="clr-row clr-align-items-center">
    <div class="clr-col">
      <div class="clr-row">
        <div class="clr-col-8" style="font-weight: bold; padding-left: 50px;">
          COVID - 19 Affected Areas
        </div>
        <div class="clr-col-2" style="color: #C1C5CF; font-weight: bold;">
          Most Affected
        </div>
        <div class="clr-col-2" style="color: #C1C5CF; font-weight: bold;">
          Less Affected
        </div>
      </div>

      <div class="clr-row">

      </div>
    </div>

    <div class="clr-col" style="margin-top: 4.5rem;">
      <div class="clr-row">
        <div class="clr-col-12">
          Top Countries
        </div>
      </div>

      <div class="clr-row" style="justify-content: flex-start;">

        <div class="clr-col-4">

          <a href="..." class="card clickable">
            <div class="card-img">
            </div>
            <div class="card-block" style="display: flex;">

              <div class="clr-col">
                <div class="clr-row" style="color: #C1C5CF; font-weight: bold;">China</div>
                <div class="clr-row" style="color: #36373F; font-weight: bold;">{{allInformation.deaths}}</div>
              </div>

              <div class="clr-col">
                <img src="https://img.icons8.com/nolan/64/bullish.png" />
              </div>
            </div>
          </a>

        </div>

        <div class="clr-col-6"></div>

      </div>
    </div>

  </div>
</div>
